body, html {
    width: 100%;
    height: 100%;
    padding-top: 50px;
}

#editor-page {
    overflow: hidden;
    width: 100%;
    height: 100%;
}
.pad {
    padding-top:5px;
    padding-bottom:5px;
}